<%- model_class = OrderDetail -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_order_detail_path,
:class => 'btn btn-primary' %>

<hr/>

<% @order_details.each do |detail| %>
  <div class="col-xs-12 list-group-item" style="padding:5px;">
    <span class="badge"><%= detail.created_at.strftime("%Y/%m/%d") %></span>
    <div class="col-xs-12">
      <p>
        <span class="label label-info">Order Id: <%= link_to detail.order_id, order_path(detail.order_id) %></span>
        <span class="label label-info">Detail Id: <%= link_to detail.id, order_detail_path(detail) %></span>
      </p>
    </div>
    <div class="col-xs-12">
      <p><%= detail.attributes["name_jp"] %></p>
      <p><%= detail.attributes["name_cn"] %></p>
    </div>
    <div class="col-xs-12">
      <p>
        <span class="label label-default">Quantity:<%= detail.quantity %></span>
        <span class="label label-default">Selling Price:<%= detail.selling_price %></span>
        <span class="label label-danger">Total: <%= detail.total_amount.to_s(:delimited) %></span>
      </p>
    </div>
    <div class="col-xs-12">
      <p>
        <span class="label label-default">OrderStatus:<%= detail.order_status %></span>
        <span class="label label-default">OrderNote:<%= detail.order_note %></span>
      </p>
    </div>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_order_detail_path(detail), :class => 'btn btn-info btn-xs right-bttom' %>
  </div>
<% end %>
