<%- model_class = OrderDetail -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>

<%= form_for :search, url: search_order_details_path, :html => { :class => "form-horizontal order" } do |f| %>
  <div class="col-xs-12 " style="padding:5px;">
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><%= (t '.order') %></span>
        <%= f.collection_select :order_id, list_orders_for_combobox, :id, :note, {:selected =>@params && @params["order_id"], :include_blank => (t '.prompt')}, {:class => 'form-control'}%>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </span>
      </div>
    </div>
    <%=f.error_span(:order_id) %>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><%= (t '.status') %></span>
        <%= f.select :order_status, OrderDetail.order_statuses.keys.to_a.map { |s| [t("activerecord.enums.order_detail.order_status.#{s}"), s]} , {:selected =>@params && @params["order_status"], :include_blank => (t '.prompt')}, {:class => 'form-control'} %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </span>
      </div>
    </div>
    <%=f.error_span(:order_status) %>
  </div>

  </div>
  <div class="col-xs-12" style="padding:5px;">
  <%= f.submit t('.search'), :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render :partial => 'list', locals: {order_details: @order_details}%>

<%= javascript_include_tag "common/remomve_button_for_select" %>
