<%- model_class = OrderDetail -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:order_id) %>:</strong></dt>
  <dd><%= @order_detail.order.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:good_id) %>:</strong></dt>
  <dd>
    <label><%= @order_detail.good.name_jp %></label>
    <label><%= @order_detail.good.name_cn %></label>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:order_time) %>:</strong></dt>
  <dd><%= @order_detail.order_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @order_detail.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_price) %>:</strong></dt>
  <dd><%= @order_detail.purchase_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:selling_price) %>:</strong></dt>
  <dd><%= @order_detail.selling_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_amount) %>:</strong></dt>
  <dd><%= @order_detail.total_amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:order_status) %>:</strong></dt>
  <dd><%= @order_detail.order_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:order_note) %>:</strong></dt>
  <dd><%= @order_detail.order_note %></dd>
</dl>

<%= link_to t('.backToList', :default => t("helpers.links.backToList")),
              order_details_path, :class => 'btn btn-default'  %>
<%= link_to t('.backToOrder', :default => t("helpers.links.backToOrder")),
              order_path(@order_detail.order_id), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_detail_path(@order_detail), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_detail_path(@order_detail),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
