<%- model_class = Customer -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:snsid) %>:</strong></dt>
  <dd><%= @customer.snsid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @customer.note %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              customers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_customer_path(@customer), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_path(@customer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<h2>All Orders</h2>

<% @customer.orders.each do |order| %>
  <div class="col-xs-12 list-group-item" style="padding:5px;">
    <span class="badge"><%= order.created_at.strftime("%Y/%m/%d") %></span>
    <div class="col-xs-8">
      <span class="label label-info">Order Id:</span>
      <h3 class="list-group-item-heading">
        <%= link_to "#{@customer.id}-#{order.id}-#{order.created_at.strftime("%Y%m%d")}", order_path(order) %>
      <h3>
      <p class="list-group-item-heading bg-warning"><span class="label label-danger">Status:</span><%= order.status %></p>
      <p class="list-group-item-heading bg-warning"><span class="label label-warning">Note:</span>
        <%= order.note %>
      </p>
    </div>
    <div class="col-xs-4">
      <span class="label label-danger">Total:</span>
      <h3 class="list-group-item-heading">
        <%= order.orderDetails.sum(:total_amount).to_s(:delimited) %>
      </h3>
      <span class="label label-danger">Payments:</span>
      <h3 class="list-group-item-heading">
        <%= order.payments.sum(:amounts).to_s(:delimited) %>
      </h3>
    </div>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_order_path(order), :class => 'btn btn-info btn-xs right-bttom' %>
  </div>
<% end %>
