
<% orders.each do |order| %>
    <div class="col-xs-12 list-group-item" style="padding:5px;">
      <span class="badge"><%= order.created_at.strftime("%Y/%m/%d") %></span>
      <div class="col-xs-12">
        <%= link_to  order_path(order) do %>
        <p>
          <span class="label label-info"><%= t "orders.index.order"%>: <%= order.note %></span>
        </p>
        <% end %>
        <p>
          <span class="list-group-item-heading bg-warning"><%= t "orders.index.status"%>:</span>
          <span class="label label-default"><%= t("activerecord.enums.order.status.#{order.status}") %></span>
        </p>
        <p>
          <span class="label label-danger"><%= t "orders.index.total_amount"%>: <%= number_to_currency(order.attributes["total_amount"] || 0, :unit=>"CNY")%></span>
          <span class="label label-danger"><%= t "orders.index.payment"%>:<%= number_to_currency(order.payments.sum(:amounts), :unit=>"CNY")
            %></span>
        </p>
      </div>

      <%if !order.attributes["customer_name"].nil? %>
      <div class="col-xs-12">
        <span class="list-group-item-heading">
          <%= t "orders.index.customer"%>: <%= link_to order.attributes["customer_name"], customer_path(order.customer_id) %>
        </span>
      </div>
      <% end %>
      <div class="col-xs-12">
        <%= link_to t('.payment', :default => t("helpers.links.payment")), new_payment_path(:customer_id => order.customer_id, :order_id => order.id), :class => 'btn btn-info btn-xs btn-danger pull-right' %>
        <%= link_to t('.addOrder', :default => t("helpers.links.addOrder")), new_order_detail_path(:order_id => order.id), :class => 'btn btn-primary btn-xs pull-right' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(order), :class => 'btn btn-info btn-xs pull-right' %>
        <%= link_to t('.show', :default => t("helpers.links.show")), order_path(order), :class => 'btn btn-info btn-xs pull-right' %>
      </div>
    </div>
<% end %>
