<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:customer) %>:</strong></dt>
  <dd><%= @order.customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @order.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @order.status %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= link_to t('.addOrder', :default => t("helpers.links.addOrder")),
            new_order_detail_path(:order_id => @order.id), :class => 'btn btn-default' %>

<h2>Order Details</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:good_id) %></th>
        <th><%= model_class.human_attribute_name(:order_time) %></th>
        <th><%= model_class.human_attribute_name(:quantity) %></th>
        <th><%= model_class.human_attribute_name(:purchase_price) %></th>
        <th><%= model_class.human_attribute_name(:selling_price) %></th>
        <th><%= model_class.human_attribute_name(:order_status) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_detail.each do |order_detail| %>
        <tr>
          <td><%= link_to order_detail.id, order_detail_path(order_detail) %></td>
          <td><%= order_detail.good.name_jp %></td>
          <td><%= order_detail.order_time %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= order_detail.purchase_price %></td>
          <td><%= order_detail.selling_price %></td>
          <td><%= order_detail.order_status %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        order_detail_path(order_detail), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_order_detail_path(order_detail), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        order_detail_path(order_detail),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
