<%- model_class = Good -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<%= form_for :search, url: search_goods_path, :html => { :class => "form-horizontal good" }  do |f| %>
  <div class="col-xs-12 " style="padding:5px;">
    <div class="form-group">
      <div class="col-lg-12">
        <div class="input-group">
          <span class="input-group-addon"><%= (t '.good') %></span>
          <%= f.text_field :keyword, :class => 'form-control', :value => @params && @params["keyword"], :placeholder=> (t '.good-placeholder')%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </span>
        </div>
      </div>
      <%=f.error_span(:order_id) %>
    </div>
  </div>
  <div class="col-xs-12" style="padding:5px;">
  <%= link_to t('.new', :default => t("helpers.links.new")),new_good_path, :class => 'btn btn-primary' %>
  <%= f.submit t('.search'), :class => 'btn btn-primary' %>
  </div>
<% end %>
<hr/>
  <% @goods.each do |good| %>
    <div class="col-xs-12 list-group-item" style="padding:5px;">
      <div class="col-xs-12" style="margin-bottom:5px;">
        <span class="label label-danger"><%= number_to_currency(good.price_jpy)%></span>
        <span class="label label-primary"><%= good.profit_rate %>%</span>
        <span class="label label-default"><%= good.created_at.strftime("%Y/%m/%d") %></span>
      </div>
      <div class="col-xs-3" style="padding-left:0px;"> <%= link_to image_tag(good.image_path), good_path(good)%> </div>
      <div class="col-xs-9" style="padding-right:0px;">
        <p class="list-group-item-heading bg-success"><%= good.name_jp %></p>
        <p class="list-group-item-heading bg-warning"><u><%= good.name_cn %></u></p>
      </div>

      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_good_path(good), :class => 'btn btn-info btn-xs pull-right' %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "goods/goods" %>
